.product-img .attachment-woocommerce_thumbnail {
    max-width: 100%;
    height: auto;
    width: 100% !important;
}

.product-img .onsale {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: #ffd333;
    color: #fff;
    padding: 0 5px;
}

span.price,
.price ins {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: #3D464D;
}
span.price del {
    color: #6c757d;
    font-size: 1rem;
}

.add_to_cart_button.btn-outline-warning:hover,
.product_type_external.btn-outline-warning:hover {
    color: #fff !important;
}

.added_to_cart.wc-forward {
    margin-left: 10px;
}

.woocommerce-products-header__title {
    font-size: 1.25rem;
}

nav.breadcrumb {
    color: #6c757d;
}
nav.breadcrumb a {
    color: #3D464D;
}

.woocommerce-pagination ul.page-numbers {
    display: flex;
    justify-content: center;
    list-style: none;
}

.woocommerce-pagination li .page-numbers {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #FFD333;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.woocommerce-pagination span.page-numbers {
    z-index: 3;
    color: #fff;
    background-color: #FFD333;
    border-color: #FFD333;
}

.woocommerce-pagination a.page-numbers:hover {
    z-index: 2;
    color: #e6b400;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}